ul
  list-style: none
  padding-left: 0
.tabs__header
  overflow-x: auto
  scroll-behavior: smooth
  -webkit-overflow-scrolling: touch
  &::-webkit-scrollbar
    display: none !important
.tans__nav
  display: flex
  flex-wrap: nowrap
  font-size: 14px
  margin: 0
  .tan-bar
    min-width: 28px
    margin: 10px
  .tan-bar--isSelected
    color: #e02e24
