:host
  width: 100%
  display: flex
  flex-direction: column
  align-items: stretch
.design
  position: fixed
  top: 0
  left 0
  right 0
  bottom: 0
  display: none
  z-index: 999
  background-image: url(../assets/design/home.jpg)
  background-size: 100% auto
