<div class="search-header">
  <div class="search-header__prefix">
    <app-icon name="topnav-back" (click)="isSimple=true"></app-icon>
  </div>
  <div class="search-header__inner">
    <div class="search-bar">
      <div class="search-bar__inner">
        <input class="icon-topnav-search" type="text" name="search-input" (focus)="isSimple=false">
      </div>
      <div class="search-bar__suffix">
        <app-icon name="paizhaosousuoxiangji"></app-icon>
      </div>
    </div>
  </div>
  <div class="search-header__suffix">
    <button class="search-button">搜索</button>
  </div>
</div>
<div class="search-body">
  123
</div>
